body {
    background-color: rgb(118, 193, 216);
    padding: 20px;
}

h1.titulo-principal {
    color: #1d0766;

    border-radius: 10px;

}

ul.lista-ejercicios li {
font-size: 1.5em;
border: 1px solid brown
}

pre#ejercicio1 {

    font-size: 1.5em;
}

h1.bordes {

    border-bottom: 3px red dashed;
    border-top: 6px red;
    border-bottom-style: double;
    border-bottom-width: 6px;

    text-align: center;
    padding: 10px;
}

/* Ejercicio 2b */

h1.titulo {

    color: #5696e0;
    font-size: 30px;
    font-style: italic;
}

p.texto {
    color: blue;
    font-size: 15px;
    }

b.destacado {

    font-style: italic;
    font-weight: bold
}

/* Ejercicio 4 */

div.articulo {

    
display:inline-block; 
    width: 20%;
    border: 1 px rgb(8, 85, 31) solid;
margin:20px auto;
border-radius: 15px;
padding: 10px;
background-color: rgb(228, 228, 228);
position: relative;

}
div.articulo img {
    width: 100%;
    border-radius: 10px;
}
div.articulo p {
    margin-top: 10px;
    margin-bottom: 10px;
}

} 
p.precio {
    font-family: 'Germania One', cursive;
    font-size: 1.8em;
    font-weight: bold;
    }


p.nombre {
    font-family: 'Cabin', sans-serif;
    font-size: 1.4em;
    font-weight: bold;

}

p.descripcion {
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
  
}

    h1.pruebafont {
        text-align: center
        font-family: 'Indie Flower', cursive;
        font-size: 35px;
        text-shadow: 4px 4px 4px #aaa;
    }
    div.botones {
        text-align: center;
        
    }
    div.botones div {
        text-align: center;
        display: inline-block;
        background-color: gainsboro;
        width: 45%;
        margin: 0 2%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    i.negro {
        color: rgb(8, 8, 8);
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 6;
    }
    
    i.verde {
        color: rgb(10, 82, 46);
        position: absolute;
        top: 25px;
        right: 28px;
        z-index: 4;
    }
    
  
        

/* Ejercicio 5 */

   /* Inicio ejercicio 5-1 */

   div.franja {
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border: 1px solid blue;
    color: white;
    width: 100%;
}

div.franja.superior {
    background-color: red;
    position:fixed;
    top: 0;
    left: 0;
}

div.franja.inferior {
    background-color: blue;
    position:fixed;
    bottom: 0;
    left: 0;
}

/* Ejercicio 7 listas */





    










